.hfdScroll {
	position:absolute;
	left:308px; top:55px;
	width:18px;
}

.hfdScroll-btnUp, .hfdScroll-btnDn, .hfdScroll-extUp, .hfdScroll-extDn, .hfdScroll-thumb {
	position:absolute;
	left:0px;
}

body {
	background-color:black;
	margin:0px;
	color:#716846;
	font-size:11px;
	font-family:verdana, arial, sans-serif;
}

a {
	color:#716846;
}

.entry .date {
	text-align:right;
}

.clear {
	clear:both;
}

.entry .body {
	float:right;
	width:70%;
	padding-left:5px;
	margin-left:5px;
	border-left:1px solid #716846;
	margin-bottom:20px;
}